mixin form(method="GET", action, argname)
    form(method=method, data-action=action, action=action)
        h2 #{method} #{action}
        if argname
            input(type="text" name=argname placeholder=argname id=argname)
        br
        input(type="submit")
    

mixin endpoint(id, title, method="GET", endpoint, param, paramPlaceholder)
    form(id=id)
        h3=title
        block

        input(type="submit" data-method=method, data-endpoint=endpoint, data-args=extra)